<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Network Test02</title>
    </head>

    <body>
        <h1>Network Test02</h1>
        <p>Your IP: <%= remoteIp %></p>
    </body>
</html>